### IntelliJ IDEA ###
.idea/
*.iml
out/

### Build (Java) ###
target/
build/
out/

### Logs ###
*.log

### Sistema operacional ###
.DS_Store
Thumbs.db

### Kotlin ###
.kotlin/

### VS Code ###
.vscode/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/